* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 195, 245);
}

h1,
h2 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 10px;
}

#content {
  display: grid;
  gap: 1rem;
}

section {
  padding: 0 1rem;
}

.events {
  list-style: none;
  display: grid;
  gap: 1ch;
}

.events a {
  color: unset;
  text-decoration: unset;

  display: block;
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 0.25rem;
  padding: 1ch;
}

.events a:hover {
  background: #a86dc0;
  color: white;
}

.selected_event {
  display: grid;
  gap: 1ch;

  border: 2px solid #eeeeee;
  border-radius: 0.25rem;
  font-style: italic;
  padding: 1rem;
}

.guest_names {
  font-style: normal;
}

@media (width > 600px) {
  div {
    grid-template-columns: 1fr 1fr;
  }
}
